<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smart Home - SkyLand</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="/css/style.css">

</head>
<body>

<header class="header">

    <a href="#" class="logo">
        <img src="images/skyland_logo.jpg" alt="">
    </a>

    <nav class="navbar">
        <a href="#home">home</a>
        <a href="#about">about</a>
        <a href="#experience">experience</a>
        <a href="#products">products</a>
        <a href="#review">review</a>
        <a href="#contact">contact</a>
        <a href="#blogs">blogs</a>
    </nav>

    <div class="icons">
        <div class="fas fa-search" id="search-btn"></div>
        <div class="fas fa-shopping-cart" id="cart-btn"></div>
        <div class="fas fa-bars" id="experience-btn"></div>
    </div>

    <div class="search-form">
        <input type="search" id="search-box" placeholder="search here...">
        <label for="search-box" class="fas fa-search"></label>
    </div>

    <div class="cart-items-container">
        <div class="cart-item">
            <span class="fas fa-times"></span>
            <img src="images/" alt="">
            <div class="content">
                <h3>Sensors</h3>
                <div class="price">Rs.499/-</div>
            </div>
        </div>
        <div class="cart-item">
            <span class="fas fa-times"></span>
            <img src="images/" alt="">
            <div class="content">
                <h3>Security System</h3>
                <div class="price">Rs.699/-</div>
            </div>
        </div>
        <div class="cart-item">
            <span class="fas fa-times"></span>
            <img src="images/" alt="">
            <div class="content">
                <h3>Hub</h3>
                <div class="price">Rs.499/-</div>
            </div>
        </div>
        <div class="cart-item">
            <span class="fas fa-times"></span>
            <img src="images/" alt="">
            <div class="content">
                <h3>Camera</h3>
                <div class="price">Rs.599/-</div>
            </div>
        </div>
        <a href="#" class="btn">checkout now</a>
    </div>

</header>

<!-- header section ends -->

<!-- home section starts  -->

<section class="home" id="home">

    <div class="content">
        <h3>Simple. Sophisticated. Seamless.</h3>
        <b><p>Using AI and IoT our houses can do wonders. We reimagined the concept of home where the master feels the power and has every detail at fingers.</p></b>
        <a href="#" class="btn">Explore Now</a>
    </div>

</section>

<!-- home section ends -->

<!-- about section starts  -->

<section class="about" id="about">

    <h1 class="heading"> <span>about</span> us </h1>

    <div class="row">

        <div class="image">
            <img src="images/AboutUs.jpeg" alt="">
        </div>

        <div class="content">
            <h3>what makes us special?</h3>
            <p>This is the modern era and the age of smart innovations. </p>
            <p>With this idea instilled, we are looking forward to making a revolutionary way of building living spaces. We ensure the perfect standard of integrity combining eco-friendly system with modernist style.
            
            We believe this is an opportunity to the people who deserve the best of their toils.</p>
            <a href="#" class="btn">learn more</a>
        </div>

    </div>

</section>

<section class="about" id="about">

    <h1 class="heading">Mission </h1>

    <div class="row">

        <div class="image">
            <img src="images/mission.jpeg" alt="">
        </div>

        <div class="content">
            <h3>What is our Mission?</h3>
            <p>The main objective of the functions is to improve the quality of life and convenience in the home. Other goals are greater security and more efficient use of energy thanks to connected, remote-controllable devices. Home appliances, such as the washing machine, lights or the coffee maker, can be time-controlled.</p>
            
            <a href="#" class="btn">learn more</a>
        </div>

    </div>

</section>

<section class="about" id="about">

    <h1 class="heading"> <span>Vision</span> </h1>

    <div class="row">

        <div class="image">
            <img src="images/vision.jpeg" alt="">
        </div>

        <div class="content">
            <h3>What is our Vision?</h3>
            <p>Our company’s mission to make the core functions of the home smarter, more efficient, and more comfortable.
</p>
            <p>To offer the best-priced home automation experience to everyone by combining the latest technology with style and elegance."
            Ideas, style, and simplicity are what define SkyLand. We are dedicated exclusively to excellence in home automation. We understand what’s most important to you and how best to meet the changing needs of today’s consumers. So, if you are investing in automation for your home, put your trust in SkyLand.</p>
            <a href="#" class="btn">learn more</a>
        </div>

    </div>

</section>

<!-- about section ends -->

<!-- experience section starts  -->

<section class="experience" id="experience">

    <h1 class="heading"> our <span>experience</span> </h1>

    <div class="box-container">

        <div class="box">
            <img src="images/kitchen.jpeg" alt="">
            <h3>Kitchen</h3>
            <a href="#" class="btn">Explore</a>
        </div>

        <div class="box">
            <img src="images/living.jpeg" alt="">
            <h3>Living Room</h3>
            <a href="#" class="btn">Explore</a>
        </div>

        <div class="box">
            <img src="images/bedroom.jpeg" alt="">
            <h3>Bedroom</h3>
            <a href="#" class="btn">Explore</a>
        </div>

        <div class="box">
            <img src="images/bathroom.jpeg" alt="">
            <h3>Bathroom</h3>
            <a href="#" class="btn">Explore</a>
        </div>

        <div class="box">
            <img src="images/dining.jpeg" alt="">
            <h3>Dining Room</h3>
            <a href="#" class="btn">Explore</a>
        </div>

        <div class="box">
            <img src="images/movie.jpeg" alt="">
            <h3>Movie Room</h3>
            <a href="#" class="btn">Explore</a>
        </div>

    </div>

</section>

<!-- experience section ends -->

<section class="products" id="products">

    <h1 class="heading"> our <span>products</span> </h1>

    <div class="box-container">

        <div class="box">
            <div class="icons">
                <a href="#" class="fas fa-shopping-cart"></a>
                <a href="#" class="fas fa-heart"></a>
                <a href="#" class="fas fa-eye"></a>
            </div>
            <div class="image">
                <img src="images/camera.png" alt="">
            </div>
            <div class="content">
                <h3>Camera Hub G2H Pro</h3>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                    
                </div>
                <div>
                    <a href="#" class="btn">Info</a>
                </div>
            </div>
        </div>

        <div class="box">
            <div class="icons">
                <a href="#" class="fas fa-shopping-cart"></a>
                <a href="#" class="fas fa-heart"></a>
                <a href="#" class="fas fa-eye"></a>
            </div>
            <div class="image">
                <img src="images/door.png" alt="">
            </div>
            <div class="content">
                <h3>Smart Door Lock A100 Zigbee</h3>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <div>
                    <a href="#" class="btn">Info</a>
                </div>
            </div>
        </div>

        <div class="box">
            <div class="icons">
                <a href="#" class="fas fa-shopping-cart"></a>
                <a href="#" class="fas fa-heart"></a>
                <a href="#" class="fas fa-eye"></a>
            </div>
            <div class="image">
                <img src="images/hub.png" alt="">
            </div>
            <div class="content">
                <h3>Hub M2</h3>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    
                </div>
                <div>
                    <a href="#" class="btn">Info</a>
                </div>
            </div>
        </div>

    </div>

</section>

<!-- review section starts  -->

<section class="review" id="review">

    <h1 class="heading"> customer's <span>review</span> </h1>

    <div class="box-container">

        <div class="box">
            <img src="images/quote-img.png" alt="" class="quote">
            <p>“The SkyLand team did an awesome job. I am impressed with their dedication and their incredible attention to detail. Also a big thanks to Customer support. I just wanted to let you know how well your team performed. They were outstanding in our set up and solving technical glitches. Each of the team members were a pleasure to work with.”</p>
            <img src="images/pic-1.png" class="user" alt="">
            <h3>Mike B</h3>
            <h3>Boerne, TX<h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
        </div>

        <div class="box">
            <img src="images/quote-img.png" alt="" class="quote">
            <p>"SkyLand was very helpful early in the process with cost estimates and equipment options and provided a good walk-through of the products, explaining the technical process, etc. The installation team did a very good job of installing and programming equipment. Cost estimates for the project were provided in a clear format and in a timely fashion, including modifications to the plan after initial estimate. The other company I considered was the exact opposite.”</p>
            <img src="images/pic-2.png" class="user" alt="">
            <h3>Julie K.</h3>
            <h3>San Antonio, TX<h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                
            </div>
        </div>
        
        <div class="box">
            <img src="images/quote-img.png" alt="" class="quote">
            <p>"SkyLand did a fantastic job on the install/programming. He was meticulous, with a great attention to detail. His patience with questions, ideas and concerns, along with a great attitude make him a valuable asset to the company. All of Sterling's staff were extremely helpful throughout the design, selection and installation process. The results have been fantastic and we look forward to enjoying our new home with family and friends.”
"</p>
            <img src="images/pic-3.png" class="user" alt="">
            <h3>Scot & Bonnie C</h3>
            <h3>Blanco, TX</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
        </div>

    </div>

</section>

<!-- review section ends -->

<!-- contact section starts  -->

<section class="contact" id="contact">

    <h1 class="heading"> <span>contact</span> us </h1>

    <div class="row">

        <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3514.6704527028633!2d76.81143821427162!3d28.247680508147056!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390d478e1d59b7fb%3A0xb1787ccb5563c223!2sBML%20Munjal%20University%20(BMU)!5e0!3m2!1sen!2sin!4v1651598714356!5m2!1sen!2sin" allowfullscreen="" loading="lazy"></iframe>

        <form action="/" method="post">
            <h3>get in touch</h3>
            <div class="inputBox">
                <span class="fas fa-user"></span>
                <input id="name" required
                name="name" type="text" placeholder="name">
            </div>
            <div class="inputBox">
                <span class="fas fa-envelope"></span>
                <input  id="email-address"  name="email"  required type="email" placeholder="email">
            </div>
            <div class="inputBox">
                <span class="fas fa-phone"></span>
                <input id="number"  name="number"  required type="number" placeholder="number">
            </div>
             <button class="btn" type="submit">contact now</button>
        </form>

    </div>

</section>

<!-- contact section ends -->

<!-- blogs section starts  -->

<section class="blogs" id="blogs">

    <h1 class="heading"> our <span>blogs</span> </h1>

    <div class="box-container">

        <div class="box">
            <div class="image">
                <img src="images/blog-1.jpg" alt="">
            </div>
            <div class="content">
                <a href="#" class="title">The Ambient</a>
                <span>By CDE / 07th December, 2021</span>
                <p> A popular blog covering trends and reviews on wearable technology.
                
                The Ambient is an especially good site to follow for its coverage on the latest news and trends surrounding the smart home technology. However, it also offers tips and tutorials about smart home devices, and also a good source of reviews.</p>
                <a href="#" class="btn">read more</a>
            </div>
        </div>

        <div class="box">
            <div class="image">
                <img src="images/blog-2.jpg" alt="">
            </div>
            <div class="content">
                <a href="#" class="title">Z-Wave’s Blog</a>
                <span>By Michael / 12th June, 2020</span>
                <p>Z-Wave is a popular wireless connectivity protocol developed by Zensys, and has powered various popular smart home devices including Samsung Smartthings and Amazon Echo.
                
                With that being said, Z-Wave’s official blog offers various interesting and relevant tips related to home automation.</p>
                <a href="#" class="btn">read more</a>
            </div>
        </div>

        <div class="box">
            <div class="image">
                <img src="images/blog-3.jpg" alt="">
            </div>
            <div class="content">
                <a href="#" class="title">Raspberry Pi Home</a>
                <span>Andrew Simmins / 21st May, 2021</span>
                <p> This blog mainly includes tips and tutorials on how to use Raspberry PI to create smart home and home automation applications, so it’s a great resource for those who prefer technical stuff and DIY-based approaches to home automation.</p>
                <a href="#" class="btn">read more</a>
            </div>
        </div>

    </div>

</section>

<!-- blogs section ends -->

<!-- footer section starts  -->

<section class="footer">

    <div class="share">
        <a href="https://www.facebook.com/" class="fab fa-facebook-f"></a>
        <a href="https://twitter.com/i/flow/login" class="fab fa-twitter"></a>
        <a href="https://www.instagram.com/" class="fab fa-instagram"></a>
        <a href="https://www.linkedin.com/" class="fab fa-linkedin"></a>
        <a href="https://in.pinterest.com/" class="fab fa-pinterest"></a>
    </div>

    <div class="links">
        <a href="#home">home</a>
        <a href="#about">about</a>
        <a href="#experience">experience</a>
        <a href="#products">products</a>
        <a href="#review">review</a>
        <a href="#contacts">contact</a>
        <a href="#blogs">blogs</a>
    </div>

    <div class="credit">created by <span>TEAM SkyLand</span></div>

</section>

<!-- footer section ends -->

















<!-- custom js file link  -->
<script src="/public/js/script.js"></script>

</body>
</html>
